html {
  height: 100%;
}

.display {
  width: 10em;
  font-family: "Courier New";
}

.local-label {
  display: inline;
  color: white;
  background-color: lightgray;
  border-left: 1px solid black;
}

.current {
}
