%table.table.table-condensed
  %thead
    %tr
      -model[:header].each do |header, vals|
        -header.keys.each do |hdr|
          %th
            =hdr
  %tbody
    %tr
      -model[:data].each do |defn|
        %tr
          -model[:header].each do |header|
            -header.each do |name, prop|
              -byebug
              -if name.is_a? Array
                =haml :'partials/array', locals: {name: name, prop: prop, defn: defn}
              -else
                =haml :'partials/definition', locals:{prop: prop, defn: defn}
