%table.table.table-condensed
  %thead
    %tr
      -model[:header].each do |header|
        %th
          =header[0]
  %tbody
    %tr
      -model[:data].each do |defn|
        %tr
          -model[:header].each do |name, prop|
            %td
              .table-data
                -if prop[:link].nil?
                  =prop[:value].call(defn)
                -else
                  %a{href:"#{prop[:link].call(defn)}"}
                    =prop[:value].call(defn)
