%h2
  =model[:data].first.group.name
  (
  %a{href: "/groups/#{model[:data].first.group.name}/latest"}
    latest
  ) (
  %a{href: "/groups/#{model[:data].first.group.name}"}
    all
  )
.container
  .row
    .col-md-12
      =haml :'partials/lambda_list', locals: {model: model}
